@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: red soldid 1px;
}

:root {
  --text: #f4f4eb;
  --background: #070703;
  --primary-button: #ea5151;
  --secondary-button: #ffffff;
  --accent: #c5ddd7;
  
}

body {
  color: var(--accent);
  background: var(--background);
  width: 100%;
  min-height: 100vh;
  font-size: 1.25rem;
  overflow-x:hidden;
}
.logo{
  font-size:3rem;
  position: relative;

}
.logo::after{
    content: ".";
  color:var(--primary-button);
}
@keyframes lig {
  
}

.primary_button {
  background-color: var(--pfrimary-button);
  color: inherit;
  border-radius:5px;
  border: 1px solid var(--accent);
  box-shadow: 5px 5px var(--accent);
  
}
.primary_button :hover{
  opacity:0.5;
}
@keyframes flicker {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      box-shadow:
          0 0 20px var(--accent);        
  }
  20%, 24%, 55% {        
      box-shadow: none;
  }    
}
.menu{
  aspect-ratio: 1/1;
  border: var(--accent) solid 1px;
  border-radius: 5px;
  position: relative;
  content:"";
  right:2rem;
}

.menu input{
  position: absolute;
  aspect-ratio: 1/1;
  height: 2rem;
  opacity: 0;
  z-index: 99;
}
.menu span{
  height: 2px;
  width:1rem;
  background: var(--accent);
  transition:all 0.2s linear;
}
.menu input:checked ~ span:nth-of-type(1){
 transform: rotate(45deg);
margin-bottom: -0.35rem;

}
.menu input:checked ~ span:nth-of-type(2){
 transform: scale(0);
}
.menu input:checked ~ span:nth-of-type(3){
 transform: rotate(-45deg);
 margin-top: -0.4rem;
} 
.menuoptions{
 opacity: 0;
 pointer-events: none;
  position: absolute;
  content: "";
  top :3rem;
  right :0rem;
  z-index: 5;
  transition: all .2s linear;
  background: var(--background);
  border-radius:5px;
  border: 1px solid var(--accent);
  box-shadow: 5px 5px var(--accent);
}
.menu input:checked ~ .menuoptions{
  opacity: 1;
 pointer-events: all;
 top:4rem;
}
.contact-input{
  background-color: var(--background);
  color: var(--accent);
  outline: none;
  border: 1px solid var(--accent);
  border-radius: 5px;
  resize: none;
}
form{
  border: 1px solid var(--accent);
  border-radius: 5px;
}

.contact-info > svg ,.contact-info >* svg{
  fill:var(--accent);
  height: 2rem;
}