@tailwind base;
@tailwind components;
@tailwind utilities;

* ,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border:1px solid rewd;
}

:root {
  --text: #ffffff;
  --background: #000000;
  --primary-button: #c084fc;
  --primary-red: #ff8888;
  --secondary-button: #ffffff;
  --accent: #ffffff;

  --size: 75px;
  --clr-bg: #070703;
  --clr1: #ffffff;
  --clr2: #f0e1ff;
  --clr3: #dbb7ff;
  --clr4: #c084fc;
  --clr5: #a750ff;
}
::selection{
  background:transparent;
}

.spinner {
  --animation-duration: 650ms;
  position: relative;
  width: var(--size);
  height: var(--size);
}

.spinner-item {
  position: absolute;
  width: var(--item-size);
  height: var(--item-size);
  top: calc(50% - var(--item-size) / 2);
  left: calc(50% - var(--item-size) / 2);
  border: 4px solid transparent;
  border-left: 4px solid var(--clr-spinner);
  border-right: 4px solid var(--clr-spinner);
  border-radius: 50%;
  animation: spinner2 var(--animation-duration) linear infinite;
}

@keyframes spinner2 {
  to {
    transform: rotate(360deg);
  }
}


.spinner-item:nth-of-type(1) {
  --item-size: var(--size);
  --clr-spinner: var(--clr1);
  border-top: 4px solid var(--clr1);
}

.spinner-item:nth-of-type(2) {
  --item-size: calc(var(--size) - 15px);
  --clr-spinner: var(--clr5);
  border-bottom: 4px solid var(--clr5);
}

.spinner-item:nth-of-type(3) {
  --item-size: calc(var(--size) - 30px);
  --clr-spinner: var(--clr3);
  border-top: 4px solid var(--clr3);
}





body {
  color: var(--accent);
  background: var(--background);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.logo {
  font-size: 3rem;
  position: relative;

}

.logo::after {
  content: ".";
  color: var(--primary-button);
}

.primary_button {
  border-radius: 5px;
  border: 1px solid var(--primary-button);
  box-shadow: 5px 5px var(--primary-button);
  transform: translate(-5px, -5px);
  transition: all 0.2s linear;
}

.primary_button:hover {

  transform: translate(0px, 0px);
  box-shadow: 0px 0px 20px var(--primary-button);
}


.contact-input {
  background-color: var(--background);
  color: var(--accent);
  outline: none;
  border-bottom: 1px solid var(--accent);
  resize: none;
}
.contact-input:focus{
border: 1px solid var(--primary-button);

}
.contact-input:focus {

}


.contact-info>svg,
.contact-info>* svg {
  fill: var(--accent);
  height: 2rem;
}

.star {
  animation: blink 0.65s linear infinite alternate;
}

@keyframes blink {
  to {
    transform: scale(1) rotateX(30deg);
  }

  from {
    transform: scale(0.9)rotateX(-10deg);
  }
}
.textwrap{
  text-warp:balance;
}
.stroq{
  color:#000000;
  -webkit-text-stroke: 2px var(--primary-button);
}